
section {
  background-color:rgb(220, 270, 183);/*#d4fb61*/
  color:rgb(23, 23, 113);
  padding: 50px;/*TODO*/
  border: 0;
}

@media (min-width: 480px) {
  section {
    padding: 70px; /* Slightly larger padding for medium screens */
  }
}

/* Large devices (desktops, 768px and up) */
@media (min-width: 768px) {
  section {
    padding: 100px; /* Original padding for large screens */
  }
}

@media (min-width: 1024px) {
  section {
    padding: 100px; /* Larger padding for extra large screens */
  }
}
